# Maps a From/envelope-sender address to the login(s) allowed to use it.
# Used by reject_sender_login_mismatch so an authenticated user can only
# send as their own address (or an alias that points at it).
hosts = ${POSTGRES_HOST}
dbname = ${POSTGRES_DB}
user = ${POSTGRES_USER}
password = ${POSTGRES_PASSWORD}
query = SELECT email FROM virtual_users WHERE email='%s' AND enabled=TRUE
    UNION
    SELECT a.destination FROM virtual_aliases a
    JOIN virtual_users u ON u.email = a.destination
    WHERE a.source='%s'
